.store-item {
}

.img-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  .left {
    flex: 0 0 70%;
    width: 70%;
    img {
      aspect-ratio: 3/4;
      object-fit: cover;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 0 0 30%;
    width: 30%;
    height: 100%;
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.info-wrapper {
  display: flex;
  padding: 10px 0;
  .left {
    width: calc(100% - 80px);
    .description {
      display: flex;
      column-gap : 4px;
      font-size: 14px;
      color: #666;
    }
    .reviews {
      display: flex;
      align-items: center;
      // 별 아이콘
      &:before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid green; //임시
      }
    }
  }
  .right {
    flex: 0 0 80px;
    width: 80px;
    margin-top: 2px;
    font-size: 15px;
    color: #666;
  }
  .title-wrapper {
    .title {
      font-size: 22px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
