@import "/src/styles/variables.scss";
/* global 스타일 */

/* ########################
        공통 스타일
######################## */

/* area */
.area {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-top: $header-height
}
